<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="DBConnectionString" connectionString="Data Source=MSI\SQLEXPRESS02;Initial Catalog=Dan Phong Khoi Co.,Ltd;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Goods_Received.Properties.Settings.Dan_Phong_Khoi_Co__LtdConnectionString"
   connectionString="Data Source=MSI\SQLEXPRESS02;Initial Catalog=&quot;Dan Phong Khoi Co.,Ltd&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>